<table border = "1">
    <tr ng-repeat="row in minefield.rows">
        <td ng-repeat="spot in row.spots" ng-right-click="!(isWinMessageVisible || isLoseMessageVisible) && flagSpot(spot)" ng-click="!(isWinMessageVisible || isLoseMessageVisible) && uncoverSpot(spot)">
            <div ng-class="{covered: spot.isCovered, empty: !spot.isCovered, mine: !spot.isCovered && spot.content == 'mine', no_mine: !spot.isCovered && spot.content == 'empty', number{{spot.content}}: !spot.isCovered && !isNaN(spot.content), flagged: spot.isCovered && spot.isFlagged == true}"></div>
        </td>
    </tr>
</table>
<h3 ng-if="isWinMessageVisible">You won!</h3>
<h3 ng-if="isLoseMessageVisible">Sorry, You lost!</h3>
<br />